header {
    height: 100px;
    color: #FFFFFF;
    background-color: darkblue;
}

header h1 {
    font-size: 40px;
}

header .date {
    outline-color: #FFFFFF;
    background-color: darkslateblue;
}

ul {
    list-style: none;
}

footer {
    height: 100px;
    color: #FFFFFF;
    background-color: darkblue;
}

footer a:visited {
    color: #FFFFFF;
}

footer a {
    color: #FFFFFF;
    padding-right: 20px;
}

footer a:hover {
    color: #AAAAAA;
}

.main_area {
    height: 700px;
}

nav {
    padding-top: 20px;
}

.active {
     background-color: darkslateblue;
 }

.in-active {
    background-color: darkblue;
}

.product {
    font-size: 24px;
}

.page_header {
    font-size: 30px;
}

.table_head_row {
    font-size: 24px;
    border-style: solid;
    border-width: 1px;
    width: auto;
}

.table_head_row td{
    width: 150px;
    cursor: pointer;
}

.order_info {
    border-style: solid;
    border-width: 1px;
    padding-top: 20px;
}

.order_info td {
    text-align: center;
}

.even {
    background: #CCCCCC;
}
